#header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  .ant-row {
    flex-flow: nowrap;
    height: 56px;
  }
  .header-menu-row {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
  }
  .brand {
    margin: 0;
    .logo {
      height: 56px;
      padding-left: 40px;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.85);
      font-size: 18px;
      font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      line-height: 56px;
      white-space: nowrap;
      text-decoration: none;
    }
  }
}
