.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.app {
  padding-top: 40px;
  min-height: calc(100% - 56px);
  .app-container {
    min-height: 500px;
    padding: 0 170px 32px 64px;
    @media only screen and (max-width: 992px) {
      padding-right: 48px;
      padding-left: 48px;
    }
    @media only screen and (max-width: 767.99px) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}
#root {
  height: 100%;
}
